
<div style="margin:20px">
  <button mat-flat-button color="warn" (click)="goBack()"><mat-icon>keyboard_arrow_left</mat-icon> Volver</button>
</div>
  @if (leccion) {
  <mat-card style="margin: 20px;">
      <mat-card-header>
        <mat-card-title>
          <h1>{{ leccion.title }}</h1>
        </mat-card-title>
        <mat-card-subtitle>
          <p>{{ leccion.description }}</p>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="video-container">
          <iframe [src]="videoUrl" width="800" height="450" frameborder="0" allowfullscreen>
          </iframe>
        </div>
      </mat-card-content>
  </mat-card>
  }